/* info generali */
h2 {
    font-size: 1.5em;
}



body {
    width: 500px;
    background-image: url(../img/sfondo.png);
    font-family: "Poppins", sans-serif;
    
}

/* HEADER */
header {
    text-align: center;
  border: 1px solid rgba(68, 66, 66, 0.842);
    background-image: linear-gradient(70deg, rgba(2,0,36,1) 0%, rgba(26,9,121,0.9808298319327731) 18%, rgba(0,212,255,1) 100%);
    padding: 20px;
}
main {
    border: 1px solid rgba(68, 66, 66, 0.842);
    background-color: white;
   margin-top: 30px;
}

header h3 {
    color: white;
}

header ul {
    color: white;
    
    
}
article {
    padding: 15px;
}

.article-2 {
    padding: 15px;
}




.div-template h1 {
    font-size: 1.7em;
}

.div-template h4 {
    color: gray;
}

span {
    color: fuchsia;
}

.ul-div ul {
    list-style-type: circle;
    margin-left: 20px;
}

ol {
    margin-left: 20px;
    list-style-type: upper-roman;
}

.article-2 h2{
    text-align: center;
    font-weight: bold;
}

 td {
    padding: 20px;
    border-bottom: 1px solid gray;
 
    
 }

 th {
    padding: 20px;
 }

 .first-row {
    background-color: cornflowerblue;
 }
 
 .colored-row {
    background-color: rgb(224, 219, 212);
 }

 iframe {
    border-radius: 10%;
    width: 100%;
 }

 form button {
    background-color: rgb(0, 71, 119);
 }

 .submit-div {

    border: 0px solid;
    text-align: center;
    background-color: rgb(224, 219, 212);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
 }

 
 

